@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{margin:0; padding: 0;}
.clearfix{overflow: auto }
a{
	text-decoration:none;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
	
}
.top_bar{
	width:1000px;
	background: linear-gradient(#33ccff,#b3ecff);
}
.top_bar_links{
    float: left;
    width: 1000px;
    background-color:#b3b3b3;


}

.top_bar_links nav ul{
    float:left;

}
.top_bar_links nav ul li{
    background-color: #b3b3b3;
    list-style: none;
    float:left;
    position: relative;
    display: block;
}
.top_bar_links nav ul li:nth-child(2) img{
    width: 20px;
    height: 15px;
    border: blue;
}
.top_bar_links nav ul li a{
    color: black;
    display: block;
    font-family: "Open Sans";
    font-size: 18px;
    padding: 15px 15px;
}
.top_bar_links nav ul li a:hover{
    background-color:  #e6e6e6;
}
.top_bar_links nav ul li ul{
    position: absolute;
    display: none;
}
.top_bar_links nav ul li:hover ul{
    display: block;
}
.top_bar_links nav ul li ul li{
    width: 250px;
}
.top_bar_links nav ul li ul li a{
    padding: 8px 20px;
}


.site_search{
	float:right ;
	margin: 15px;
	margin-top: 100px;
	background: white;
	border-radius: 12.5px

}
.site_search input{
	border:none;
	width: 150px;
	height:25px;
	font-size: 15px;
	margin-left: 15px;
}
.site_search input.placeholder{
	color:    #909;
}


.site_search button{
	border:none;
	float:right;
	height: 25px;
	width: 25px;
	background: url(../icon/search.png);
	background-size: 25px 25px;

}
.header{
	float:left;
	margin-left:150px;
}

.header h1{
	font-family:sans-serif;
	font-weight: normal;
	font-size: 48px;
	text-align: center;
	margin-top: 15px;
}
.header p{
	font-family:"Ubuntu";
	font-weight: normal;
	font-size: 30px;
	text-align: center;
}
.image{
	float: left;
	margin-left: 70px;

}
.welcome_bar{
	width: 1000px;
	background-color: #e6e6e6;
}
.welcome_message{
	margin: 20px;
}
.welcome_message h2{
	margin:5px;
	text-align: center;
	font-family: 'Open Sans', serif;
	font-weight:  100;
	font-size: 30px;
}
.welcome_message p{
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: lighter;
}

.select{
	width: 1000px;
	background-color: lightgrey;
}
.select ul{
	list-style: none;
}
.middle_bar{
    font-family: "Open Sans";
    height: 300px;
    background-color:#e6e6e6 ;
}
.exam_calander{
    text-align: center;
    width: 500px;
    float: left;
}
.exam_calander h2{
    font-weight: lighter;
}
.news{
    text-align: center;
    width: 500px;
    float: left;
}
.news h2{
    font-weight: lighter;
}
.follow{
    height: 100px;
    background-color: #b3b3b3;
}
.follow p{
    font-family: "Open Sans";
    font-weight: lighter;
    margin-top:25px;
    margin-right: 20px;
    font-size: 20px;
    float: right;
}
.icon{
    margin: 5px;
}
.icon img {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    width: 35px;
}
.signin {
	background-color:#e6e6e6; 
	height: 300px;
}
.signin form{
	margin: 0 auto;
	vertical-align: center;
	
}
.signin form ul li {
	font-family: arial;
	list-style: none;
}
