@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#header{

}
.footer{
	overflow: auto;
	height: 100px;
    background-color: #b3b3b3;
}
.footer p{
	font-family: "Open Sans";
    font-weight: lighter;
    margin-top:25px;
    margin-right: 20px;
    font-size: 20px;
    float: right;
}
.clearfix{
    overflow: auto 
}
.middle_bar{
    font-family: "Open Sans",sans-serif;
    height: 480px;
    background-color:#e6e6e6 ;
}
.middle_bar h1 {
    font-family: "Open Sans", sans-serif;
}
.middle_bar p{
    font-family: "Open Sans",sans-serif;
}

.signin{
    background-color:#e6e6e6;
    height: 500px;

}
.signin form{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width: 405px;



}
.signin label{
    float: left;
    width: 100px;
    margin-bottom: 40px;
    font-size: 20px;
}
.signin input{
    width: 300px;
    height: 20px;
    font-size: 15px;
    margin-bottom: 40px;
    font-family: "Open Sans";
}
.signin button{
    margin-top: 30px;
    border-style: none;
    background-color: #00e6e6;
    display: block;
    cursor: pointer;
    width: 15%;
    height: 30px;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}
.signin_form button:hover{
  background-color: rgba(48,243,228,0.87);

}
table {
	border: 1px solid black;
	/*border-collapse: collapse;*/
    border-spacing: 1px;
}

td {
	border: 1px solid black;
	border-collapse: collapse;
    padding: 5px;
} 

th {
	border: 1px solid black;
	border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

/*imported*/
*{margin:0; padding: 0;}



a{
    text-decoration:none;
}
.wrapper{
    width: 100%;
    margin: 0 auto;

}
.top_bar{
    width:100%;
    background: linear-gradient(#33ccff,#b3ecff);

}
.top_bar_links{
    float: left;
    width: 100%;
    background-color:#b3b3b3;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}

.top_bar_links nav ul{
    float:left;

}
.top_bar_links nav ul li{
    background-color: #b3b3b3;
    list-style: none;
    float:left;
    position: relative;
    display: block;
}
.top_bar_links nav ul li:nth-child(2) img{
    width: 20px;
    height: 15px;
    border: blue;
}
.top_bar_links nav ul li a{
    color: black;
    display: block;
    font-family: "Open Sans";
    font-size: 18px;
    padding: 15px 15px;
}
.top_bar_links nav ul li a:hover{
    background-color:  #e6e6e6;
}
.top_bar_links nav ul li ul{
    position: absolute;
    display: none;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.top_bar_links nav ul li:hover ul{
    display: block;
}
.top_bar_links nav ul li ul li{
    width: 250px;
}
.top_bar_links nav ul li ul li a{
    padding: 8px 20px;
}


.site_search{
    float:right ;
    margin: 15px;
    margin-top: 100px;
    background: white;
    border-radius: 12.5px

}
.site_search input{
    border:none;
    width: 150px;
    height:25px;
    font-size: 15px;
    margin-left: 15px;
}
.site_search input.placeholder{
    color:    #909;
}


.site_search button{
    border:none;
    float:right;
    height: 25px;
    width: 25px;
    background: url(../icon/search.png);
    background-size: 25px 25px;

}


.header h1{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    margin-top: 15px;
}
.header h2{
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}
.image{
    float: left;
    margin-left: 70px;

}
.welcome_bar{
    width: 1000px;
    background-color: #e6e6e6;
}
.welcome_message{
    margin: 20px;
}
.welcome_message h2{
    margin:5px;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-weight:  100;
    font-size: 30px;
}
.welcome_message p{
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: lighter;
}

.select{
    width: 1000px;
    background-color: lightgrey;
}
.select ul{
    list-style: none;
}
.exam_calander{
    text-align: center;
    width: 500px;
    float: left;


}
.exam_calander h2{
    font-weight: lighter;
    border-color: black;
}
.news{
    text-align: center;
    width: 500px;
    float: right;
}
.news h2{
    font-weight: lighter;
}
.follow{
    height: 100px;
    background-color: #b3b3b3;
}
.follow p{
    font-family: "Open Sans";
    font-weight: lighter;
    margin-top:25px;
    margin-right: 20px;
    font-size: 20px;
    float: right;
}
.icon{
    margin: 5px;
}
.icon img {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    width: 35px;
}


.signupform{
    width: 100%;
    height: 600px;
    background-color: #e6e6e6 ;
}
.form  {
    margin-top: 50px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;


}
.form input{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    border-style: none;


}
.form label{
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    float: left;
    width: 200px;
}
.form button:hover{
    background-color: #68e6c0;
}
.form button{
    font-size: 20px;
    background-color: #00e6e6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    padding: 5px;
}
.lec{
    background-color:  #e6e6e6;
    width: 100%;

}
.lec a{
    font-size: 20px;
    font-family: Arial, serif;
}
.cu_wrapper{
    width: 100%;
    height: 1000px;
    background-color: #e6e6e6 ;

}

.contact_us{
    font-family: 'Rubik';
    font-size: 15px;
    position: relative;
    top:50px;
    left:50px ;

}
.contact_us a{
    color: #ff865a;
}
.contact_us a:hover{
    color: #ff7d26;
}






